// Draft US Web Design Standards
@import '../../node_modules/uswds/src/stylesheets/all';
@import './mermaid';

.mermaid {

  font-family: $font-sans;

  .label {
    color: $color-white;
    font-size: 1rem;
    overflow-wrap: break-word;
    word-break: break-all;

  }

}

.cluster {

  rect {
    fill: $color-gray-lightest !important;
    stroke: $color-gray-lighter !important;
  }

  text {
    @include h4;
  }

}

.node rect,
.node circle,
.node ellipse,
.node polygon {
  fill: $color-primary;
  stroke: $color-primary-darkest;
  stroke-width: 2px;
}

.edgePath .path {
  stroke: $color-primary-darkest !important;
  stroke-width: 2px !important;
}

.edgePath marker path {
  fill: $color-primary-darkest !important;
}

.edgeLabel {
  background-color: $color-gray-cool-light;
  color: $color-black;
}

rect {

  fill: $color-primary;
  stroke: $color-primary-darkest;
  stroke-width: 2px;

  &.note {

    fill: $color-primary-alt-lightest;
    stroke: $color-primary-alt-light;
    stroke-width: 2px;

  }

  &.labelBox {
    fill: $color-primary-darker;
    stroke: $color-primary;
  }

  &.actor {

    fill: $color-primary;
    stroke: $color-primary-darkest;

  }

}

#crosshead,
#arrowhead{

  path {

    fill: $color-primary-darkest;

  }

}

line {

  &[class^=messageLine],
  &.actor-line {

    fill: $color-primary-darkest;
    stroke: $color-primary-darkest;
    stroke-width: 2px;

  }

  &.loopLine {

    fill: $color-primary-darkest;
    stroke: $color-primary;
    stroke-width: 2px;

  }

}

text {

  &.messageText {

    @include h6;
    font-family: $font-serif;
    text-shadow: 2px 2px 0 $color-white, 1px 1px 0 $color-gray;
    fill: $color-primary-alt-darkest;

  }

  &.actor {
    fill: $color-white;
  }

  &.noteText {
    fill: $color-base;
    font-size: 1.25rem;
  }

  &.labelText {
    font-family: $font-serif;
    fill: $color-gray-cool-light;
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  &.loopText {
    font-family: $font-serif;
    font-size: 1rem;
    font-style: oblique;
  }

}
